section#display {
    font-family: monospace;
    font-size: 32px;
    margin-bottom: 1.5em;
}

char {
    width: 1em;
    height: 1em;
    /* margin-right: .125em; */
    padding-bottom: .1em;
    display: inline-block;
    border: black 1px solid;
    text-align: center;
    position: relative;
    margin: 1.5em .125em 0 0;
}

char.active:after {
    content: '↓';
    font-size: 50px;
    position: absolute;
    top: -1.2em;
    left: .03em;
}

char.marked {
    background-color: rgb(93, 131, 187);
}

char.final {
    background-color: rgb(62, 209, 123);
}

#controls {
    max-width: 20em;
}

label:after {
    content: ":";
    margin-right: .3em;
}